body {
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    min-width: 640px;
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f4f4f9;
    color: #333;
}

input, button {
    font-size: 1.2em; /* 입력 필드와 버튼 글씨 크기 */
    margin: 10px;
    }
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 10px;
    color: #222;
}

.subtitle {
    margin-top: 20px;
    font-size: 0.6em;
    font-weight: bold;
    color: #777;
    text-align:center;
}

.error {
    color: red;
    font-weight: bold;
}

#result {
    margin: 20px auto;
    text-align: left;
    font-size: 0.8em;
    min-width: 900px;
    max-width: 900px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex {
display: flex;
justify-content: space-between;
line-height: 0.6; /* 줄 간격 조정 */
margin: 0; /* 마진 제거 */
padding: 0; /* 패딩 제거 */
}
.flex .dot  {
    flex-grow: 1;
    border-bottom: 1px dashed black;
    margin: 0 10px; /* 텍스트와 점선 사이의 여백 */
}
.ll {
    text-align:left;
}
.rr {
    text-align:right;
}


.inner_border {
    border: 1px solid #999999;
    border-radius: 10px;
    background-color: #ffe1d6;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner_border .title1 {
    text-align:center;
    font-size:larger;
}
.inner_border .flex {
    display: flex;
    justify-content: space-between;
    line-height: 0.6; /* 줄 간격 조정 */
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
    }
.inner_border .flex .dot  {
        flex-grow: 1;
        border-bottom: 1px dashed black;
        margin: 0 10px; /* 텍스트와 점선 사이의 여백 */
    }
.inner_border .ll {
        text-align:left;
    }
.inner_border .rr {
        text-align:right;
    }

.border2 {
    background-color: #dde6bd;
}
.border3 {
    background-color: #bde6db;
}
.border4 {
    background-color: #bdd4e6;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: .8fr 1fr; /* 3개의 열: 1:2:1 비율 */
    grid-gap: 20px; /* 각 열 사이의 간격 */
    padding: 10px;
}

.grid-item {
    padding: 0px;
}
.redbold {
    font-weight:bold;
    color:#d85b5b
}
.select {
    font-weight: bold;
    color:#d85b5b
}
.nosel {
    color:#777
}
center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3개의 열: 1:2:1 비율 */
    grid-gap: 10px; /* 각 열 사이의 간격 */
    padding: 10px;
}

.grid-item {
    padding: 0px;
}
.border5 {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.equipback1 {
    background-color:#fdc46d
}
.equipback2 {
    background-color: #cfbde6;
}
.equipback3 {
    background-color: #e6c5bd;
}
.equipback4 {
    background-color: #c2c2c2;
}
.gray {
    color:#777;
    font-size:112%;
    ;
}
.flex2 {
    display:flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
.item {
    padding: 0 20px; /* 좌우 패딩 추가 */
  }
  .opac {
    opacity: 0;
  }